@model InventoryManagement.Models.Material

@{
    ViewData["Title"] = "Exit Materials";
}

<h1>Exit Materials</h1>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Exit">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" readonly />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Amount" class="control-label">Amount to Exit</label>
                <input type="number" id="Amount" name="Amount" class="form-control" required />
                <span class="text-danger" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Exit" class="btn btn-primary" />
                <a asp-action="MarketingArtifacts" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
